{% extends "base.html" %}

{% block extrahead %}
  <script defer 
    src="https://hello.hllgame.top/script.js" 
    data-website-id="2c1f5269-76ba-499f-8afd-b5ee31a5dc1e">
  </script>
{% endblock %}

{% block announce %}
  <h2><span style="color: #ff0000; background-color: #ffffff;">This website will be archived in July 2026. Use <strong><a style="color: #ff0000; background-color: #ffffff;" href="https://github.com/hllgame/hllwiki">https://github.com/hllgame/hllwiki</a></strong> instead, it will stay up!</span></h2>
{% endblock %}
